{% extends 'base.html' %}
{% load static %}

{% block page_name %}NOTICIAS{% endblock page_name %}

{% block content %}
{% for new in all_news %}
<div class="news-post-holder">
    <div class="news-post-widget">
        <img class="img-responsive" src="{{ new.image.url }}" alt="{{new.alt}}" style="max-height:20em;object-fit: cover;">
        <div class="news-post-detail">
            <span class="date">{{ new.published }}</span>
            <h2><a href="{% url 'noticias:noticias_detail' new.slug %}">{{ new.title }}</a></h2>
            <p>{{new.body|truncatewords:50|safe}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}