{% extends 'base.html' %}
{% load static %}

{% block page_name %}GALERIA{% endblock page_name %}

{% block content %}
    <link rel="stylesheet" href="{% static 'galeria/css/labs.css' %}">
    <link rel="stylesheet" href="{% static 'galeria/css/masonry.css' %}">
    
    <div class="wrapper" style="padding:0;">
        <div class="masonry gutterless">
            {% for image in images %}
                <div class="brick">
                    <a href="{{image.image.url}}"><img src="{{image.image.url}}" alt="{{image.alt}}" title="{{image.description}}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
